body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f3f4fe, #edeaff);
  margin: 0;
  padding: 2em;
}
.container {
  max-width: 700px;
  background: white;
  padding: 2em;
  margin: auto;
  border-radius: 1em;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
textarea, pre {
  width: 100%;
  font-family: monospace;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}
button {
  display: block;
  padding: 1em 2em;
  background: #635bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}
button.copy {
  background: #4CAF50;
}